<div class="ui fluid raised card chatbox">
  <div class="content">
    <div class="header"> ChatRoom </div>
    <div class="ui feed">
      <div class="event">
        <div class="content">
          <div class="summary">
            <em>Elliot Fu</em>: Hello friend!
          </div>
        </div>
      </div>
    </div>  
  </div>
  <div class="extra content">
    <form class="ui reply form">
        <div class="field">
          <div class="ui fluid icon input">
            <input type="text" placeholder="Enter a message">
            <i class="bordered inverted red icon edit"></i>
          </div>
        </div>
    </form>
    <%# <button class="ui button"> Send message </button> %>
  </div>
</div>
